@use "../library/animations.scss" as *;
@use "../library/mixins.scss" as *;
@use "../library/variables.scss" as *;

.projects-page {
  @include grid-column(500px, 1fr, 20px);
  margin: 20px;
  .widget {
    .date {
      font-size: 13px;
      color: $alt-fc;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .head {
      margin-bottom: 40px;
      h4 {
        font-weight: normal;
      }
      p {
        color: $alt-fc;
        font-size: 14px;
        line-height: 1.6;
        margin: 10px 0;
      }
    }
    .team {
      margin: 45px 0 0;
      img {
        width: 40px;
        margin-right: -15px;
        border-radius: 50%;
        border: 2px solid $widget-bg;
        position: relative;
        transition: 0.3s;
        &:hover {
          z-index: 2;
        }
      }
    }
    .skills {
      display: flex;
      justify-content: flex-end;
      gap: 5px;
      font-size: 13px;
      padding: 15px 0;
      margin: 15px 0;
      border-top: 1px solid $border-eee;
      border-bottom: 1px solid $border-eee;
      span {
        color: $main-fc;
      }
    }
    .progress {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .load {
        @include load(260px, 8px, $input-bg, null, null);

        div {
          border-radius: 6px;
        }
      }
      span {
        color: $alt-fc;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 767px) {
  .projects-page {
    display: flex;
    flex-flow: wrap;
    margin: 10px;
    gap: 10px;
    .widget {
      width: 100%;
      .skills {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
      }
      .progress {
        flex-direction: column;
        align-items: center;
        gap: 15px;
      }
    }
  }
}
/*----- end: projects page -----*/
/*----- start: courses page -----*/
.courses-page {
  margin: 20px;
  .categories{
    background-color: transparent;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    button{
      width: 100px;
      background-color: $widget-bg;
      text-transform: capitalize;
      font-size: 18px;
      padding: 20px 0;
      border-radius: 6px;
      transition: 0.3s;

    }
  }
  .all-courses {
    @include grid-column(300px, 1fr, 20px);
    .course {
      overflow: hidden;
      background-color: $widget-bg;
      border-radius: 6px;
      .head {
        position: relative;
        .instructor {
          width: 64px;
          border: 2px solid $widget-bg;
          border-radius: 50%;
          position: absolute;
          top: 20px;
          left: 20px;
        }
        .cover {
          width: 100%;
        }
      }
      .about {
        padding: 20px 20px;
        h4 {
          margin: 0;
        }
        p {
          font-size: 14px;
          color: $alt-fc;
          line-height: 1.6;
          margin: 15px 0;
        }
      }
      .info {
        display: flex;
        justify-content: space-between;
        color: $alt-fc;
        font-size: 13px;
        padding: 15px;
        border-top: 1px solid $border-eee;
        position: relative;
        button {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .courses-page {
    gap: 10px;
    margin: 10px;
  }
}
/*----- end: course spage -----*/
/*----- start: friends page -----*/
.friends-page {
  @include grid-column(300px, 1fr, 20px);
  margin: 20px;
  .friend {
    text-transform: capitalize;
    position: relative;
    .icon {
      position: absolute;
      top: 10px;
      left: 10px;
      i {
        @include icon-circle(33px, $input-bg, #666);
        display: inline-flex;
        font-size: 13px;
        transition: 0.3s;
        cursor: pointer;
      }
      .icon i:hover {
        color: $widget-bg;
        background-color: $blue;
      }
    }
    .person {
      text-align: center;
      img {
        width: 100px;
        margin: 10px;
        border-radius: 50%;
      }
      .h4 {
        margin: 0;
      }
      p {
        color: $alt-fc;
        font-size: 13px;
        margin: 5px 0 0;
      }
    }
    .data {
      font-size: 14px;
      padding: 15px 0;
      margin: 15px 0;
      border-top: 1px solid $border-eee;
      border-bottom: 1px solid $border-eee;
      position: relative;
      div:not(:last-of-type) {
        margin: 0 0 10px;
      }
      div i {
        margin-right: 5px;
      }
    }
    &.vip {
      .data::before {
        content: "VIP";
        color: $orange;
        font-size: 40px;
        font-weight: bold;
        opacity: 0.2;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
    .foot {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      p {
        color: $alt-fc;
      }
    }
  }
}
@media (max-width: 768px) {
  .friends-page {
    gap: 10px;
    margin: 10px;
  }
}
/*----- end: friends page -----*/
/*----- start: files page -----*/
.files-page {
  display: flex;
  gap: 20px;
  margin: 20px;
  .files {
    @include grid-column(200px, 1fr, 20px);
    flex: 1;
    .file {
      padding: 10px;
      .head {
        text-align: center;
        position: relative;
        i {
          color: $alt-fc;
          position: absolute;
          left: 0;
        }
        img {
          width: 64px;
          margin: 15px 0;
          transition: 0.3s;
        }
        &:hover img {
          transform: rotate(5deg);
        }
        span {
          display: block;
          text-transform: lowercase;
          font-size: 14px;
          margin: 0 0 10px;
        }
        p {
          color: $alt-fc;
          font-size: 13px;
          text-align: start;
          margin: 13px 0;
        }
      }
      .foot {
        color: $alt-fc;
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        border-top: 1px solid $border-eee;
      }
    }
  }
  .files-stats {
    min-width: 260px;
    height: fit-content;
    h2 {
      margin: 0 0 15px;
    }
    & > div {
      font-size: 13px;
      display: flex;
      align-items: center;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid $border-eee;
      border-radius: 6px;
      i {
        margin-right: 10px;
      }
      &.pdf i {
        @include icon-box(40px, 40px, rgb(0 117 255 / 20%), $blue);
      }
      &.imgs i {
        @include icon-box(40px, 40px, rgb(34 197 94 / 20%), $green);
      }
      &.word i {
        @include icon-box(40px, 40px, rgb(244 67 54 / 20%), $red);
      }
      &.csv i {
        @include icon-box(40px, 40px, rgb(245 158 11 / 20%), $orange);
      }
      .count {
        font-size: 13px;
        p {
          margin: 0 0 5px;
        }
        span {
          color: $alt-fc;
        }
      }
      .size {
        font-size: 13px;
        color: $alt-fc;
        margin-left: auto;
      }
    }
    button {
      display: block;
      padding: 10px 15px;
      margin: 0 auto;
      transition: 0.3s;
      i {
        margin-right: 10px;
      }
      &:hover i {
        animation: go-up alternate infinite 0.6s;
      }
    }
  }
}
@media (max-width: 768px) {
  .files-page {
    flex-direction: column-reverse;
  }
}
/*----- end: files page -----*/
/*----- start: plans page -----*/
.plans-page {
  @include grid-column(450px, 1fr, 20px);
  margin: 20px;
  .plan {
    border-radius: 0;
    text-transform: capitalize;
    &.free .head {
      outline: 3px solid $green;
    }
    &.basic .head {
      outline: 3px solid $blue;
    }
    &.premium .head {
      outline: 3px solid $orange;
    }
    .head {
      color: $widget-bg;
      text-align: center;
      padding: 20px;
      border: 3px solid $widget-bg;
      span {
        display: block;
        width: fit-content;
        font-size: 40px;
        margin: auto;
        position: relative;
        sup {
          font-size: 25px;
          position: absolute;
          left: -20px;
        }
      }
    }
    ul {
      margin: 16px 0;
      li {
        display: flex;
        align-items: center;
        padding: 15px 0;
        border-bottom: 1px solid $border-eee;
        span {
          font-size: 15px;
        }
        .yes {
          color: $green;
          margin-right: 10px;
        }
        .help {
          color: $alt-fc;
          margin-left: auto;
          cursor: pointer;
        }
        i:not(.yes, .help) {
          color: $red;
          margin-right: 10px;
        }
      }
    }
    .foot {
      .txt {
        color: $alt-fc;
        text-align: center;
      }
    }
  }
}
@media (max-width: 768px) {
  .plans-page {
    grid-template-columns: minmax(250px, 1fr);
    gap: 10px;
    margin: 20px 10px;
  }
}
/*----- end: plans page----- */
