@use './library/variables.scss' as *;
@use './library/mixins.scss' as *;

:root{
  --body-bg: #f1f5f9;
  --widget-bg: #ffffff;
  --input-bg: #eeeeee;
  --bg-grey: #eeeeee;
  --main-fc: #000000;
  --alt-fc: #888888;
  --border-ccc: #cccccc;
  --border-ddd: #dddddd;
  --border-eee: #eeeeee;
  --nav-hover-bg: #f6f6f6;
  --nav-active-bg: #f6f6f6;
}

[data-theme="dark"]{
  --body-bg: #0b1220;
  --widget-bg: #101826;
  --input-bg: #1a2436;
  --bg-grey: #1a2436;
  --main-fc: #e6edf3;
  --alt-fc: #a1aec6;
  --border-ccc: #2b3a55;
  --border-ddd: #2b3a55;
  --border-eee: #223047;
  --nav-hover-bg: #101c2f;
  --nav-active-bg: #0e192a;
}

// import open sans font:
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
// global >> scrollbar >> page
// global:
*{
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: $body-bg;
}
a{
  text-decoration: none;
  cursor: pointer;
}
button{
  border: none;
}
input, textarea{
  outline: none;
  cursor: pointer;
}
ul{
  list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p, input, label{
  text-transform: capitalize;
}
input:disabled{
  color: #bbb;
  background-color: #f0f4f8;
}

// scrollbar
::-webkit-scrollbar{
  width: 15px;
  background-color: $widget-bg;
}
::-webkit-scrollbar-thumb{
  background-color: $blue;
  &:hover{
    background-color: $blue-alt;
  }
}
// page:
.page{
  display: flex;
  min-height: 100vh;
}
// content:
.page > .content{
  width: 100%;
  overflow: hidden;
  margin-left: 225px;
}
@media(max-width: 768px){
  .page .content{
      margin-left: 58px;
  }
}