@use './variables.scss' as *;

@mixin ele($width, $height, $bg){
  content: "";
  width: #{$width};
  height: #{$height};
  background-color: #{$bg};
  position: absolute;
}


@mixin ele-circle($dimensions, $bg){
  content: "";
  width: #{$dimensions};
  height: #{$dimensions};
  background-color: $bg;
  border-radius: 50%;
  position: absolute;
}
@mixin circle($dimensions, $bg){
  width: #{$dimensions};
  height: #{$dimensions};
  background-color: $bg;
  border-radius: 50%;
}
@mixin outline-circle($dimensions, $bg, $round, $outline){
  content: "";
  width: #{$dimensions};
  height: #{$dimensions};
  background-color: $bg;
  border-radius: 50%;
  border: $round solid $bg;
  border-radius: 50%;
  outline: $round solid $outline;
  position: absolute;
}

@mixin grid-column($s-size, $l-size, $gap){
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(#{$s-size}, #{$l-size}));
  gap: #{$gap};
}
@mixin grid-row($s-size, $l-size, $gap){
  display: grid;
  grid-template-row: repeat(auto-fill, minmax(#{$s-size}, #{$l-size}));
  gap: #{$gap};
}

@mixin ele-load($width, $height, $bg, $progress, $progress-bg){
  width: $width;
  height: $height;
  background: $bg;
  position: relative;
  &::before{
    content: "";
    width: $progress;
    height: 100%;
    background-color: $progress-bg;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@mixin load($width, $height, $bg, $progress, $progress-bg){
  width: $width;
  height: $height;
  background: $bg;
  position: relative;
  div{
    width: $progress;
    height: 100%;
    background-color: $progress-bg;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@mixin d-tracker($color, $fc, $bg, $arrow){
  color: $color;
  font-size: $fc;
  background-color: $bg;
  padding: 2px 5px;
  border-radius: 6px;
  border: none;
  position: absolute;
  bottom: 16px;
  transform: translatex(50%);
  &::before{
    content: "";
    border: $arrow solid transparent;
    border-top-color: $bg;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translatex(-50%);
  }
}

@mixin icon-inbox($width, $height, $bg, $color){
  width: $width;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg;
  i{
    color: $color;
  }
}
@mixin icon-box($width, $height, $bg, $color){
  width: $width;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg;
  color: $color;
}

@mixin icon-circle($dimensions, $bg, $color){
  width: $dimensions;
  height: $dimensions;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color;
  background-color: $bg;
  border-radius: 50%;
}

@mixin toggle-btn($width, $height, $ball, $move) {
  .toggle-check{
    display: none;
    appearance: none;
    &:checked + .toggle-switch {
      background-color: $blue;
    }
    &:checked + .toggle-switch:before {
      content: "\f00c";
      color: $blue;
      left: $move;
    }
  }
  .toggle-switch {
    width: $width;
    height: $height;
    background-color: #ccc;
    border-radius: 16px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
  }
  .toggle-switch:before {
    content: "\f00d";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    @include icon-circle($ball, $widget-bg, #aaa);
    transition: 0.3s;
    position: absolute;
    top: 4px;
    left: 4px;
  }
}

// New: unified checkbox style
@mixin checkbox-control($size: 14px){
  input{ display: none; }
  label{
    padding-left: calc(#{$size} + 16px);
    cursor: pointer;
    position: relative;
    &::before,
    &::after{
      @include ele($size, $size, null);
      margin-top: calc(-1 * (#{$size} / 2 + 2px));
      border-radius: 4px;
      top: 50%;
      left: 0;
      transition: 0.3s;
    }
    &::before{ border: 2px solid $grey; }
    &::after{
      content: "\f00c";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      font-size: calc(#{$size} - 2px);
      color: $widget-bg;
      background-color: $blue;
      border: 2px solid $blue;
      transform: scale(0);
      display: grid;
      place-items: center;
    }
  }
  input:checked + label::after{ transform: scale(1) rotate(360deg); }
}

// New: unified radio style
@mixin radio-control($outer: 18px, $inner: 12px){
  input{ display: none; }
  label{
    padding-left: calc(#{$outer} + 12px);
    cursor: pointer;
    position: relative;
    &::before{
      content: "";
      width: $outer;
      height: $outer;
      border: 2px solid $grey;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      transition: 0.3s;
    }
    &::after{
      content: "";
      width: $inner;
      height: $inner;
      background-color: $blue;
      border-radius: 50%;
      position: absolute;
      top: calc(50% - #{$inner} / 2);
      left: calc(#{$outer}/2 - #{$inner}/2);
      transform: scale(0);
      transition: 0.3s;
    }
  }
  input:checked + label::before{ border-color: $blue; }
  input:checked + label::after{ transform: scale(1); }
}