// backgrounds color:
$body-bg: #f1f5f9;
$widget-bg: white;
$input-bg: #eee;
$bg-grey: #eee;

// fonts color:
$main-fc: black;
$alt-fc: #888;

// colors:
$blue: #0075ff;
$blue-alt: #0d69d5;
$orange: #f59e0b;
$green: #22c55e;
$red: #f44336;
$grey: #888;
$alt-grey: #eee;

// border-colors:

$border-ccc: #ccc;
$border-ddd: #ddd;
$border-eee: #eee;