// backgrounds color:
$body-bg: var(--body-bg, #f1f5f9);
$widget-bg: var(--widget-bg, #ffffff);
$input-bg: var(--input-bg, #eeeeee);
$bg-grey: var(--bg-grey, #eeeeee);

// fonts color:
$main-fc: var(--main-fc, #000000);
$alt-fc: var(--alt-fc, #888888);

// colors:
$blue: #0075ff;
$blue-alt: #0d69d5;
$orange: #f59e0b;
$green: #22c55e;
$red: #f44336;
$grey: #888;
$alt-grey: #eee;

// border-colors:
$border-ccc: var(--border-ccc, #cccccc);
$border-ddd: var(--border-ddd, #dddddd);
$border-eee: var(--border-eee, #eeeeee);